{{>navbar}}
<!--Posts - View All Posts-->
<h2 id="title"> All Thoughts</h2>
{{#each thoughts}}
<div class="card_container ">
  <div class="card " id="allcards">
  
    <h5 class="card-header" name="title">{{user_name}}: {{post_title}} <time id="post_create"
        datetime="2021-01-18">{{post_date}}</time>
      <div class="card-body">
        <p class="card-text">{{post_desc}}</p>
      </div>
      <div class="card-body">

        <div class="mb-3" id="post_user" style="display:">
          <label for="exampleFormControlTextarea1" class="form-label">Enter Your Name <input type="text"
              class="form-control" id="user_name">
            {{!-- <textarea class="form-control" id="user_name" rows="3" placeholder="Enter Your Name"></textarea> --}}
          </label>
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="rep_desc" rows="3" placeholder="Enter Your Reply"></textarea>
        </div>
        <button type="button" class="btn btn-secondary" type="submit" data-id={{id}} id="reply">Reply</button>
      </div>
      <div>
        <h5 id="comments">Comments</h5>
        {{#each ../replies}}
        <p class="form-control" id="rep_text" rows="3" placeholder="Enter Your Reply">{{usernme}} : {{rep_desc}}</p>
        {{/each}}
      </div>
  </div>
    {{/each}}